<html>
    <head>
        {% if title %}
        <title>{{ title }} - Page</title>
        {% else %}
        <title>Home</title>
        {% endif %}
    </head>
    <body bgcolor="#2f4f4f">
           <div>
        <a href="{{ url_for('index') }}" style="color:white">Home</a>
               <a href="{{ url_for('search') }}" style="color:white">Search</a>
               <a href="{{ url_for('gsco_search') }}" style="color:white">GSCO Search</a>
        {% if current_user.is_anonymous %}
        <a href="{{ url_for('login') }}" style="color:white">Login</a>
        {% else %}
        <a href="{{ url_for('logout') }}" style="color:white">Logout</a>
        {% endif %}

    </div>
        <hr style="color: deeppink">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li style="color: deeppink">{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </body>
</html>