{% extends "base.html" %}

{% block content %}
    <h1 style="color:white">Sign In</h1>
    <form action="" method="post" novalidate >
        {{ form.hidden_tag() }}
        <p style="color: antiquewhite">
            {{ form.username.label }}<br>
            {{ form.username(size=32) }}<br>
            {% for error in form.username.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p style="color: antiquewhite">
            {{ form.password.label }}<br>
            {{ form.password(size=32) }}<br>
            {% for error in form.password.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p style="color: antiquewhite">{{ form.remember_me() }} {{ form.remember_me.label }}</p>
        <p>{{ form.submit() }}</p>
        <p style="color: white">New User? <a href="{{ url_for('main.register') }}"
                                             style="color: deeppink">
            Click to Register!</a></p>
    </form>
{% endblock %}
